# Include Catppuccin Delta themes
[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig

[user]
	name = epsilon
	email = jiraiyahiddenleaf27@gmail.com

[github]
	user = 3p5ilon

[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore_global
	autocrlf = input
	whitespace = trailing-space,space-before-tab

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	; side-by-side = true

[diff]
	algorithm = histogram
	colorMoved = default

[merge]
	conflictstyle = zdiff3

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[rebase]
	autoStash = true

[rerere]
	enabled = true

[commit]
	verbose = true

[help]
	autocorrect = prompt

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	st  = status -sb
	sw  = switch
	br  = branch
	co  = checkout
	c   = commit
	ca  = commit --amend --no-edit
	p   = push
	pf  = push --force-with-lease
	l   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	la  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	uncommit = reset --soft HEAD^
	unstage  = restore --staged
